
.video {
    border: 1px solid @text-color;
    height: 280px;
    margin: 24px 12px;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    min-width: 170px;

    .title, .add-label {
        width: 100%;
    }

    .remove {
        position: absolute;
        top: -16px;
        right: -18px;
        font-size: 18px;
        padding: 5px 4px 4px;
        cursor: pointer;
        border: 3px solid @text-color;
        border-radius: 50%;
        background: @body-bg;
    }

    .thumbnail {
        width: 100%;
        position: relative;
        margin-bottom: 1px;
        text-align: center;

        img {
            min-height: 120px;
        }

        .play {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: 128px;
            vertical-align: middle;

            &:not(.loading) {
                &:after {
                    .glyphicon();
                    content: "\e072";
                    font-size: 70px;
                    color: @gray-lighter;
                    width: 100px;
                    height: 100px;
                    border: 6px solid @gray-lighter;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 90px;
                    padding-left: 5px;
                    vertical-align: middle;
                }
                &:hover:after {
                    color: @gray-light;
                    border: 6px solid @gray-light;
                    transition: color 0.2s ease-in-out 0.2s, border 0.2s ease-in-out 0.2s;
                }
            }
        }
    }

    &.loading {
        .remove,
        .title,
        .add-label,
        .thumbnail {
            display: none;
        }
    }

    .label {
        margin-right: 3px;
        display: inline-block;
        text-align: left;

        .label-remove {
            color: @body-bg;
        }
    }
}

.player {
    video {
        width: 100%;
    }
}


.loading {
    opacity: .5;
}
.loading:after {
    content: "";
    display: block;
    background-color: transparent;
    border: 5px solid #508EC3;
    opacity: .9;
    border-right-color: transparent;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin: 40px auto;
    position: relative;
    -moz-animation: ui-loading 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@keyframes ui-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes ui-loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
