.video {
  border: 1px solid #333;
  height: 210px;
  text-align: center;
  margin: 24px 12px;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}
.video .title {
  width: 100%;
}
.video .remove {
  position: absolute;
  top: -12px;
  right: -16px;
  font-size: 32px;
}
.loading .remove,
.loading .title {
  display: none;
}
.loading {
  opacity: .5;
}
.loading:after {
  content: "";
  display: block;
  background-color: transparent;
  border: 5px solid #508EC3;
  opacity: .9;
  border-right-color: transparent;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 40px auto;
  position: relative;
  -moz-animation: ui-loading 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}
@media (min-width: 240px) and (orientation: portrait) {
  .video {
    height: 70px;
  }
}
@media (min-width: 384px) and (orientation: portrait) {
  .video {
    height: 100px;
  }
}
@media (min-width: 600px) and (orientation: portrait) {
  .video {
    height: 160px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .video {
    height: 210px;
  }
}
@keyframes ui-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ui-loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
